
form{
    border:2pt solid black;
    background-color: cornsilk;
    padding:0.3em;
}
div{
    padding:1em;
}
h1{
    text-align: center;
}

label{
    font-family:monospace;
}

input{
    border:1 px solid black;
}

textarea{
    padding:0.3em;
}